---
layout: default
---

{{ content }}

{% capture url %}/divisions/{{ page.division | replace: ' ', '_' | downcase }}{% endcapture %}
{% capture indexurl %}{{ url }}/index.html{% endcapture %}

<ul>
  {% for site_page in site.pages %}
    {% capture site_page_url_slash %}{{ site_page.url }}/{% endcapture %}
    {% capture url_slash %}{{ url }}/{% endcapture %}
    {% if site_page_url_slash contains url_slash %}
      {% unless site_page.url == indexurl %}
  <li>
    <a href='{{ site.baseurl }}{{ site_page.url }}'>{{ site_page.title }}</a>
  </li>
      {% endunless %}
    {% endif %}
  {% endfor %}
</ul>
